<form data-np-autofill-type="register" data-np-checked="1">
	<div class="row mb-3">
		<label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
		<div class="col-md-8 col-lg-9">
			<img src="assets/img/profile-img.jpg" alt="Profile">
			<div class="pt-2">
				<a href="#" class="btn btn-primary btn-sm" title="Upload new profile image">
					<i class="bi bi-upload"></i>
				</a>
				<a href="#" class="btn btn-danger btn-sm" title="Remove my profile image">
					<i class="bi bi-trash"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="row mb-3">
		<label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
		<div class="col-md-8 col-lg-9">
			<input name="fullName" type="text" class="form-control" id="fullName" value="Kevin Anderson" data-np-checked="1" data-np-autofill-type="name_full" data-np-uid="a48efa26-a21b-494b-ba7f-bad794797820" autocomplete="off">
			<span data-np-uid="a48efa26-a21b-494b-ba7f-bad794797820" style="width: 24px; min-width: 24px; height: 24px; background-image: url(&quot;moz-extension://fd2768e8-0512-443f-a150-1b711559b771/assets/manifestIcons/icon.svg&quot;); background-repeat: no-repeat; background-position: left center; background-size: auto; border: medium none; display: inline-block; visibility: visible; position: absolute; cursor: pointer; z-index: 998; padding: 0px; transition: none 0s ease 0s; pointer-events: all; right: 0px; left: 967px; top: 263px; min-height: 24px;"></span>
		</div>
	</div>

	<div class="row mb-3">
		<label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
		<div class="col-md-8 col-lg-9">
			<textarea name="about" class="form-control" id="about" style="height: 100px">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea>
		</div>
	</div>

	<div class="row mb-3">
		<label for="company" class="col-md-4 col-lg-3 col-form-label">Company</label>
		<div class="col-md-8 col-lg-9">
			<input name="company" type="text" class="form-control" id="company" value="Lueilwitz, Wisoky and Leuschke" data-np-checked="1">
		</div>
	</div>

	<div class="row mb-3">
		<label for="Job" class="col-md-4 col-lg-3 col-form-label">Job</label>
		<div class="col-md-8 col-lg-9">
			<input name="job" type="text" class="form-control" id="Job" value="Web Designer" data-np-checked="1">
		</div>
	</div>

	<div class="row mb-3">
		<label for="Country" class="col-md-4 col-lg-3 col-form-label">Country</label>
		<div class="col-md-8 col-lg-9">
			<input name="country" type="text" class="form-control" id="Country" value="USA" data-np-checked="1" data-np-autofill-type="identity_country" data-np-uid="e648e630-f40b-4c29-b854-8bdb17d027ff" autocomplete="off">
			<span data-np-uid="e648e630-f40b-4c29-b854-8bdb17d027ff" style="width: 24px; min-width: 24px; height: 24px; background-image: url(&quot;moz-extension://fd2768e8-0512-443f-a150-1b711559b771/assets/manifestIcons/icon.svg&quot;); background-repeat: no-repeat; background-position: left center; background-size: auto; border: medium none; display: inline-block; visibility: visible; position: absolute; cursor: pointer; z-index: 998; padding: 0px; transition: none 0s ease 0s; pointer-events: all; right: 0px; left: 967px; top: 541px; min-height: 24px;"></span>
		</div>
	</div>

	<div class="row mb-3">
		<label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
		<div class="col-md-8 col-lg-9">
			<input name="address" type="text" class="form-control" id="Address" value="A108 Adam Street, New York, NY 535022" data-np-checked="1" data-np-autofill-type="identity_address1" data-np-uid="788e8865-51b2-4896-91d7-928bccbe0835" autocomplete="off">
			<span data-np-uid="788e8865-51b2-4896-91d7-928bccbe0835" style="width: 24px; min-width: 24px; height: 24px; background-image: url(&quot;moz-extension://fd2768e8-0512-443f-a150-1b711559b771/assets/manifestIcons/icon.svg&quot;); background-repeat: no-repeat; background-position: left center; background-size: auto; border: medium none; display: inline-block; visibility: visible; position: absolute; cursor: pointer; z-index: 998; padding: 0px; transition: none 0s ease 0s; pointer-events: all; right: 0px; left: 967px; top: 595px; min-height: 24px;"></span>
		</div>
	</div>

	<div class="row mb-3">
		<label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
		<div class="col-md-8 col-lg-9">
			<input name="phone" type="text" class="form-control" id="Phone" value="(436) 486-3538 x29071" data-np-checked="1" data-np-autofill-type="identity_phone_number" data-np-uid="9e778f24-55a5-4040-9624-661e95f20f7a" autocomplete="off">
			<span data-np-uid="9e778f24-55a5-4040-9624-661e95f20f7a" style="width: 24px; min-width: 24px; height: 24px; background-image: url(&quot;moz-extension://fd2768e8-0512-443f-a150-1b711559b771/assets/manifestIcons/icon.svg&quot;); background-repeat: no-repeat; background-position: left center; background-size: auto; border: medium none; display: inline-block; visibility: visible; position: absolute; cursor: pointer; z-index: 998; padding: 0px; transition: none 0s ease 0s; pointer-events: all; right: 0px; left: 965px; top: 649px; min-height: 24px;"></span>
		</div>
	</div>

	<div class="row mb-3">
		<label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
		<div class="col-md-8 col-lg-9">
			<input name="email" type="email" class="form-control" id="Email" value="k.anderson@example.com" data-np-checked="1" data-np-autofill-type="identity_email" data-np-uid="0b305ad8-18f0-4a36-b077-b414269b6d49" autocomplete="off">
			<span data-np-uid="0b305ad8-18f0-4a36-b077-b414269b6d49" style="width: 24px; min-width: 24px; height: 24px; background-image: url(&quot;moz-extension://fd2768e8-0512-443f-a150-1b711559b771/assets/manifestIcons/icon.svg&quot;); background-repeat: no-repeat; background-position: left center; background-size: auto; border: medium none; display: inline-block; visibility: visible; position: absolute; cursor: pointer; z-index: 998; padding: 0px; transition: none 0s ease 0s; pointer-events: all; right: 0px; left: 967px; top: 703px; min-height: 24px;"></span>
		</div>
	</div>

	<div class="row mb-3">
		<label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Twitter Profile</label>
		<div class="col-md-8 col-lg-9">
			<input name="twitter" type="text" class="form-control" id="Twitter" value="https://twitter.com/#" data-np-checked="1">
		</div>
	</div>

	<div class="row mb-3">
		<label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook Profile</label>
		<div class="col-md-8 col-lg-9">
			<input name="facebook" type="text" class="form-control" id="Facebook" value="https://facebook.com/#" data-np-checked="1">
		</div>
	</div>

	<div class="row mb-3">
		<label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
		<div class="col-md-8 col-lg-9">
			<input name="instagram" type="text" class="form-control" id="Instagram" value="https://instagram.com/#" data-np-checked="1">
		</div>
	</div>

	<div class="row mb-3">
		<label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>
		<div class="col-md-8 col-lg-9">
			<input name="linkedin" type="text" class="form-control" id="Linkedin" value="https://linkedin.com/#" data-np-checked="1">
		</div>
	</div>

	<div class="text-center">
		<button type="submit" class="btn btn-primary">Save Changes</button>
	</div>
</form>
