{% extends "base.html.twig" %}
{% block body %}
	<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
					<div class="card mb-3">
						<div class="card-body">
							<div class="pt-4 pb-2">
								<h5 class="card-title text-center pb-0 fs-4">Connectez-vous à votre compte</h5>
								<p class="text-center small">Entrez votre email &amp; mot de passe pour se connecter</p>
							</div>
							<form class="row g-3 needs-validation" action="/login" method="POST" novalidate="" data-np-autofill-type="login" data-np-checked="1" data-np-watching="1">
								<input type="hidden" name="login" value="1">
								<div class="col-12">
									<label for="email" class="form-label">Email</label>
									<div class="input-group has-validation">
										<span class="input-group-text" id="inputGroupPrepend">
											<i class="bi bi-person"></i>
										</span>
										<input type="email" name="email" class="form-control" id="email" required="" data-np-autofill-type="identity_email" data-np-uid="850aa6be-7cf7-404e-a1e3-f2fe0d6c238d" autocomplete="off" data-np-checked="1">
										<div class="invalid-feedback">Veuillez entrer votre email.</div>
										<span data-np-uid="850aa6be-7cf7-404e-a1e3-f2fe0d6c238d" style="width: 24px; min-width: 24px; height: 24px; background-image: url(&quot;moz-extension://fd2768e8-0512-443f-a150-1b711559b771/assets/manifestIcons/icon.svg&quot;); background-repeat: no-repeat; background-position: left center; background-size: auto; border: medium none; display: inline-block; visibility: visible; position: absolute; cursor: pointer; z-index: 998; padding: 0px; transition: none 0s ease 0s; pointer-events: all; right: 0px; left: 324px; top: 6px; min-height: 24px;"></span>
									</div>
								</div>
								{% if errors.username is defined %}
									<div class="text-danger small">{{ errors.username }}</div>
								{% endif %}
								<div class="col-12">
									<label for="password" class="form-label">Mot de passe</label>
									<div class="input-group has-validation">
										<span class="input-group-text" id="inputGroupPrepend">
											<i class="bi bi-lock"></i>
										</span>
										<input type="password" name="password" class="form-control" id="password" required="" data-np-autofill-type="generate" data-np-uid="5f4060e7-5886-4d69-b094-f77470665e27" autocomplete="off" data-np-checked="1">
										<div class="invalid-feedback">Veuillez entrer votre mot de passe</div>
										<span data-np-uid="5f4060e7-5886-4d69-b094-f77470665e27" style="width: 24px; min-width: 24px; height: 24px; background-image: url(&quot;moz-extension://fd2768e8-0512-443f-a150-1b711559b771/assets/manifestIcons/icon.svg&quot;); background-repeat: no-repeat; background-position: left center; background-size: auto; border: medium none; display: inline-block; visibility: visible; position: absolute; cursor: pointer; z-index: 998; padding: 0px; transition: none 0s ease 0s; pointer-events: all; right: 0px; left: 343px; top: 421.8px; min-height: 24px;"></span>
									</div>
								</div>
								{% if errors.password is defined %}
									<div class="text-danger small">{{ errors.password }}</div>
								{% endif %}
								<div class="col-12">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" name="remember" value="true" id="remember" data-np-checked="1" value="true">
										<label class="form-check-label" for="remember">Se souvenir de moi</label>
									</div>
								</div>
								<input type="hidden" name="csrfToken" value="{{ csrfToken }}">
								<div class="col-12">
									<button class="btn btn-indigo w-100" type="submit">Connexion</button>
								</div>
								<div class="col-12">
									<p class="small mb-0">Pas de compte?
										<a href="{{ path('register') }}">Créez un compte !</a>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
