{% extends "base.html.twig" %}
{% block body %}
	<section id="blog" class="blog mt-4">
		<div class="container pt-4" style="max-width:1800px" data-aos="fade-up">
			<div class="row">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
							<img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
							<h2>Kevin Anderson</h2>
							<h3>Web Designer</h3>
							<div class="social-links mt-2">
								<a href="#" class="twitter">
									<i class="bi bi-twitter"></i>
								</a>
								<a href="#" class="facebook">
									<i class="bi bi-facebook"></i>
								</a>
								<a href="#" class="instagram">
									<i class="bi bi-instagram"></i>
								</a>
								<a href="#" class="linkedin">
									<i class="bi bi-linkedin"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card">
						<div
							class="card-body pt-3">
							<!-- Bordered Tabs -->
							<ul class="nav nav-tabs nav-tabs-bordered" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-overview" aria-selected="false" role="tab" tabindex="-1">Résumé</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit" aria-selected="true" role="tab">Modifier Profile</button>
								</li>
								{# {% if user.role == "admin" %} #}
								<li class="nav-item" role="presentation">
									<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-comments" aria-selected="false" role="tab" tabindex="-1">Mes Commentaires</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-my-posts" aria-selected="false" tabindex="-1" role="tab">Mes Articles</button>
								</li>
								{# {% endif %} #}
							</ul>
							<div class="tab-content pt-2">
								<div class="tab-pane fade profile-overview" id="profile-overview" role="tabpanel">
									<h5 class="card-title">About</h5>
									<p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>
									<h5 class="card-title">Profile Details</h5>
									<div class="row">
										<div class="col-lg-3 col-md-4 label ">Full Name</div>
										<div class="col-lg-9 col-md-8">Kevin Anderson</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Company</div>
										<div class="col-lg-9 col-md-8">Lueilwitz, Wisoky and Leuschke</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Job</div>
										<div class="col-lg-9 col-md-8">Web Designer</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Country</div>
										<div class="col-lg-9 col-md-8">USA</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Address</div>
										<div class="col-lg-9 col-md-8">A108 Adam Street, New York, NY 535022</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Phone</div>
										<div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Email</div>
										<div class="col-lg-9 col-md-8">k.anderson@example.com</div>
									</div>
								</div>
								<div
									class="tab-pane fade profile-edit pt-3 active show" id="profile-edit" role="tabpanel">
									<!-- Profile Edit Form -->

									{% include "_partials/profile_form.html.twig" %}
									<!-- End Profile Edit Form -->
								</div>
								<div
									class="tab-pane fade pt-3" id="profile-comments" role="tabpanel">
									<!-- Comments Form -->
									<h4>Mes commentaires</h4>
									<div class="d-flex align-items-center">
										<table class="table table-hover">
											<thead>
												<tr>
													<th scope="col">#</th>
													<th scope="col">Name</th>
													<th scope="col">Position</th>
													<th scope="col">Age</th>
													<th scope="col">Start Date</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">1</th>
													<td>Brandon Jacob</td>
													<td>Designer</td>
													<td>28</td>
													<td>2016-05-25</td>
												</tr>
												<tr>
													<th scope="row">2</th>
													<td>Bridie Kessler</td>
													<td>Developer</td>
													<td>35</td>
													<td>2014-12-05</td>
												</tr>
												<tr>
													<th scope="row">3</th>
													<td>Ashleigh Langosh</td>
													<td>Finance</td>
													<td>45</td>
													<td>2011-08-12</td>
												</tr>
												<tr>
													<th scope="row">4</th>
													<td>Angus Grady</td>
													<td>HR</td>
													<td>34</td>
													<td>2012-06-11</td>
												</tr>
												<tr>
													<th scope="row">5</th>
													<td>Raheem Lehner</td>
													<td>Dynamic Division Officer</td>
													<td>47</td>
													<td>2011-04-19</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- End comments Table -->
								</div>
								<div
									class="tab-pane fade pt-3" id="profile-my-posts" role="tabpanel">
									<!-- Posts Table -->
									<h4>Mes articles</h4>
									<div class="d-flex align-items-center">
										<table class="table table-hover">
											<thead>
												<tr>
													<th scope="col">#</th>
													<th scope="col">Name</th>
													<th scope="col">Position</th>
													<th scope="col">Age</th>
													<th scope="col">Start Date</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">1</th>
													<td>Brandon Jacob</td>
													<td>Designer</td>
													<td>28</td>
													<td>2016-05-25</td>
												</tr>
												<tr>
													<th scope="row">2</th>
													<td>Bridie Kessler</td>
													<td>Developer</td>
													<td>35</td>
													<td>2014-12-05</td>
												</tr>
												<tr>
													<th scope="row">3</th>
													<td>Ashleigh Langosh</td>
													<td>Finance</td>
													<td>45</td>
													<td>2011-08-12</td>
												</tr>
												<tr>
													<th scope="row">4</th>
													<td>Angus Grady</td>
													<td>HR</td>
													<td>34</td>
													<td>2012-06-11</td>
												</tr>
												<tr>
													<th scope="row">5</th>
													<td>Raheem Lehner</td>
													<td>Dynamic Division Officer</td>
													<td>47</td>
													<td>2011-04-19</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- End Post Table -->
								</div>
							</div>
							<!-- End Bordered Tabs -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
