.bi.bi-chevron-down.rotate {
    transform: rotate(180deg);
}

.pagination-detail{
    display: none;
}

#table-comment td:nth-child(3) {
    width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
