{% extends "pages/admin/base.html.twig" %}
{% block body %}
	<h1 class="h2">Dashboard</h1>
	<div class="row my-4">
		<div class="col-12 col-xl-12 mb-4 mb-lg-0">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
