{% extends "pages/admin/base.html.twig" %}
{% block body %}
	<div class="d-flex justify-content-between align-items-center">
		<h2>Gestion des Tags</h2>
		<button class="btn btn-success">
			<i class="bi bi-plus-circle"></i>
			Ajouter tag
		</button>
	</div>
	<div class="row my-4">
		<div class="col-12 col-xl-12 mb-4 mb-lg-0">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
