{% extends "pages/admin/base.html.twig" %}
{% block body %}
	<div class="d-flex justify-content-between align-items-center">
		<h2>Gestion des Utilisateurs</h2>
	</div>
	<div id="mailerError" class="alert alert-danger invisible"></div>
	<div id="mailerSuccess" class="alert alert-info invisible"></div>
	<div class="row my-4">
		<div class="col-12 col-xl-12 mb-4 mb-lg-0">
			<div class="d-flex align-items-center">
				<div class="card">
					<div class="card-body">
						<div class="table-wrapper">
							<table id="table-all-users"></table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
