{% extends "pages/admin/base.html.twig" %}
{% block body %}
	<div class="d-flex justify-content-between align-items-center">
		<h2>Gestion des Utilisateurs</h2>
	</div>
	<div class="row my-4">
		<div class="col-12 col-xl-12 mb-4 mb-lg-0">
			<div class="card">
				<div class="card-header text-center">
					<h4>Mes commentaires</h4>
				</div>
				<div class="card-body">
					<table id="table-user-profile-comments" class="table table-responsive-md fixed-height-table"></table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
