<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
	<head>
		<title>Compte créé</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<h1>Votre compte MyBlog</h1>
		<p>Votre compte a été créé avec succès. Vous pouvez maintenant vous connecter</p>
	</body>
</html>
